<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>

<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<hr>

<h1>Propiedades</h1>
<!-- Bidding de propiedad -->
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" width="100" alt="">
<hr>

<h1>Hola mundo</h1>
<!-- Aqui estoy usando una función para modificar un string entre brakers y comillas -->
<h2>{{'Hola mundo'.repeat(5)}}</h2>
<!-- Aqui estoy ejecutando una función dentro de brakers y por fuera un simple string -->
<p>3+3 = {{3+3}}</p>

<h3>Hola soy {{name}} y tengo {{age}} años</h3>
<img src={{img}} alt="">